In [7]:
import pandas as pd

In [8]:
# File to Load (Remember to Change These)
file_to_load = "cities.csv"

# Read Purchasing File and store into Pandas data frame
data_df = pd.read_csv(file_to_load)
data_df.head()

       City Country  Cloudiness  Humidity    Lat     Lng  Max Temp  Wind Speed
0    Yulara      AU           0        29 -25.24  130.99     62.60       12.75
1  Thompson      CA          20        48  55.74  -97.86     64.40        2.24
2     Minbu      MM         100        68  20.18   94.88     86.63        1.66
3  Cidreira      BR           0        84 -30.17  -50.22     61.97       11.79
4   Kempsey      AU           0        36 -31.08  152.84     75.00        8.01

In [10]:
data_df.to_html('data_new.html')